@import "~antd/dist/reset.css";

.content-background {
  background-color: #f7faff;
  width: 70%;
}

.header-backgroud {
  width: 100%;
  background-color: #bad0f5;
}

.header-text {
  font-size: x-large;
  color: #16315e;
  text-align: center;
}

.sider-title {
  font-size: large;
  font-weight: 800;
  color: #16315e;
  text-align: center;
}

.infinit-div {
  width: auto;
  display: grid;
  direction: ltr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
}

.infinit-div-card {
  margin: 20px;
}
